<div class="container mx-auto px-4">
  <div class="flex flex-wrap -mx-2">
    <% @posts.each do |post| %>
      <%= link_to post_path(post), class: "w-full sm:w-1/2 lg:w-1/3 px-2 mb-4" do %>
        <div class="bg-gray-200 dark:bg-gray-800 p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-300 h-full flex flex-col">
          <h2 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            <%= post.title %>
          </h2>
          <h3 class="text-sm mb-4 flex-grow text-gray-700 dark:text-gray-300">
            <%= post.sub_text %>
          </h3>
          <div class="flex items-center mb-2">
            <% if post.author.profile_picture.attached? %>
              <%= image_tag post.author.profile_picture.variant(resize_to_limit: [40, 40]), class: "rounded-full mr-2 w-10 h-10" %>
            <% else %>
              <%= image_tag "default_profile.webp", class: "rounded-full mr-2 w-10 h-10" %>
            <% end %>
            <span class="text-gray-800 dark:text-gray-200"><%= post.author.full_name %></span>
          </div>
          <div class="text-xs text-gray-600 dark:text-gray-400 text-right">
            <%= post.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
