<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Manage Posts</h1>
  
  <div class="mb-4">
    <%= link_to 'Add New Post', new_writer_post_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
  </div>

  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Title</th>
        <th class="py-2 px-4 border-b">Status</th>
        <th class="py-2 px-4 border-b">Created At</th>
        <th class="py-2 px-4 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="py-2 px-4 border-b"><%= post.title %></td>
          <td class="py-2 px-4 border-b"><%= post.status.capitalize ? 'Yes' : 'No' %></td>
          <td class="py-2 px-4 border-b"><%= post.created_at.strftime('%B %d, %Y')  %></td>
          <td class="py-2 px-4 border-b">

            <%= link_to 'View', writer_post_path(post), class: 'text-blue-500 hover:text-blue-700' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="flex items-center justify-between">
    <%= link_to 'Back', writer_dashboard_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-5" %>
  </div>
</div>
